.principal{
  background-size: cover;
  background-image: url(download.jpg);
  background-position: center;
  margin: 0; 
  padding: 0;
  height: 100vh;
  
}

.miaudio{
  position: absolute; 
  left: 81%;
  transform: translate(-50%); 
}

.info{
  position: absolute; 
  top:8%;
  left: 80%;
  transform: translate(-50%, -50%);
  color: blueviolet;
  background-color:lightgreen;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bolder;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: move-info 6s infinite;
}

.phrase{
  position: absolute; 
  top: 55%; 
  left: 70%;
  transform: translate(-50%, -50%); 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: 500;
  color:fuchsia;
  cursor: pointer;
  font-size: 35x;
  text-shadow: 1px 1px 3px;
}

.phrase:hover{
  font-family:fantasy;
  background-color: white;
  border-radius: 40px;
}

.phrase:active{
  color: gold;
  background-color: black;
}


.tittle{
  position: absolute;
  left: 50%; 
  transform: translate(-50%);            
  color: white;
  font:bolder;
  font-weight: bold;
  font-size: 23px;
  text-shadow: 1.5px 1.5px 1.2px;
  border-radius: 15px;
  background-color:blueviolet;
  cursor:e-resize;
  
}

.tittle:hover{
  color: black;
  background: yellow;
  
}

 @keyframes movement {
  50% {
    transform: rotate3d(1, 1, 1, 180deg);
  }
  100% {
    transform: rotate3d(1, 1, 1, 360deg);
  }
 }

 @keyframes move-info {
  0% {
    left: 0;
  }
  100% {
    top: 150px; 
  }
}


img.gif{
  display: flex;
  justify-content: flex-start;
  animation: movement 3s ease-in-out infinite;
  width: 20%;
}

.buttons{
  display: flex;
  justify-content:space-around;
  justify-content: flex-end;
  width: 65%;
  top:15%;
  font-family:Georgia, 'Times New Roman', Times, serif;
  cursor: pointer;
  position: relative;
  box-shadow: 30%;
  text-shadow: 30%;
}


img.imagenApi{
  position: absolute;
  top: 20%; 
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 40% 40% 0 0;
  cursor: crosshair;
}

button{
  padding: 15px 15px;
  color: black;
  background-color: lime;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
}

.button:active{
  color:black;
  background-color:deeppink
}

.button:hover{
  color:black;
  background-color: deeppink;
  cursor: pointer;
}
